<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">Adding Students, Courses and Instructors</h1>
    <p>Select an action below:</p>
    <ol>
        <li><a href="/addstudent">Add a Student</a></li>
        <li><a href="/addcourse">Add a Course</a></li>
        <li><a href="/addinstructor">Add an Instructor</a></li>
        <li><a href="/show">Show all Records</a></li>
    </ol>
</div>
</body>
</html>