<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students List</title>
</head>
<body>
<h1 class="text-center">Record List</h1>
<a href="/addstudent">Add a Student</a>
<a href="/addcourse">Add a Course</a>
<a href="/addinstructor">Add an Instructor</a>
<a href="/show">Show all Records</a>

<h3 class="text-center">Students</h3>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Email</th>
    </tr>


    <tr th:each="student : ${allstudents}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.contactNum}"></td>
        <td th:text="${student.email}"></td>


        <!--<td>Actions-->
        <!--<a th:href="@{/update/{id} (id=${students.id})}">Update</a>- -->
        <!--<a th:href="@{/detail/{id} (id=${students.id})}">Details</a>- -->
        <!--<a th:href="@{/delete/{id} (id=${students.id})}">Delete</a>-->
        <!--</td>-->
    </tr>
</table>
</table>
</body>
</html>